In [52]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
file_path = '/content/drive/MyDrive/Salaries.csv'
df = pd.read_csv(file_path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

/tmp/ipython-input-462205461.py:5: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Drop rows where EmployeeName and JobTitle are 'Not provided'

In [53]:
df = df.dropna(subset=['EmployeeName', 'JobTitle'])

Replace 'Not Provided' with 0 in BasePay OvertimePay	OtherPay	Benefits

In [54]:
df['BasePay'] = df['BasePay'].replace('Not Provided', 0)
df['OvertimePay'] = df['OvertimePay'].replace('Not Provided', 0)
df['OtherPay'] = df['OtherPay'].replace('Not Provided', 0)
df['Benefits'] = df['Benefits'].replace('Not Provided', 0)

Change BasePay	OvertimePay	OtherPay	Benefits type to float

In [55]:
df['BasePay'] = df['BasePay'].astype(float)
df['OvertimePay'] = df['OvertimePay'].astype(float)
df['OtherPay'] = df['OtherPay'].astype(float)
df['Benefits'] = df['Benefits'].astype(float)

Display all employees name and basepay columns who have a BasePay greater than 200,000.

In [56]:
high_basepay = df[df['BasePay'] > 200000]
print("Employees with BasePay > 200,000:\n", high_basepay)

Employees with BasePay > 200,000:
             Id        EmployeeName                                JobTitle  \
2            3      ALBERT PARDINI         CAPTAIN III (POLICE DEPARTMENT)
7            8       DAVID KUSHNER          DEPUTY DIRECTOR OF INVESTMENTS
9           10  JOANNE HAYES-WHITE  CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
12          13   EDWARD HARRINGTON             EXECUTIVE CONTRACT EMPLOYEE
13          14         JOHN MARTIN                       DEPARTMENT HEAD V
...        ...                 ...                                     ...
110953  110954      Ronald P Flynn              Assistant Chief Attorney 1
110954  110955    Sheryl L Bregman              Assistant Chief Attorney 1
110976  110977       Susan T Obata              Supervising Physician Spec
110977  110978       John O Funghi            Engineer/Architect Principal
111107  111108       Mayra T Vivas             Senior Physician Specialist

          BasePay  OvertimePay  OtherPay  Benefits   TotalPay  \
2       212739.13    106088.18  16452.60       NaN  335279.91
7       256576.96         0.00  51322.50       NaN  307899.46
9       285262.00         0.00  17115.73       NaN  302377.73
12      294580.02         0.00      0.00       NaN  294580.02
13      271329.03         0.00  21342.59       NaN  292671.62
...           ...          ...       ...       ...        ...
110953  201296.01         0.00   1250.00  57125.63  202546.01
110954  201296.00         0.00   1250.00  57125.62  202546.00
110976  202445.22         0.00      0.00  55649.14  202445.22
110977  201181.01         0.00      0.00  56841.85  201181.01
111107  205036.00         0.00   1260.00  45288.54  206296.00

        TotalPayBenefits  Year  Notes         Agency Status
2              335279.91  2011    NaN  San Francisco    NaN
7              307899.46  2011    NaN  San Francisco    NaN
9              302377.73  2011    NaN  San Francisco    NaN
12             294580.02  2011    NaN  San Francisco    NaN
13             292671.62  2011    NaN  San Francisco    NaN
...                  ...   ...    ...            ...    ...
110953         259671.64  2014    NaN  San Francisco     FT
110954         259671.62  2014    NaN  San Francisco     FT
110976         258094.36  2014    NaN  San Francisco     PT
110977         258022.86  2014    NaN  San Francisco     FT
111107         251584.54  2014    NaN  San Francisco     FT

[509 rows x 13 columns]

Find all employees whose JobTitle contains the word “Manager” (case = False)

In [57]:
managers = df[df['JobTitle'].str.contains('Manager', case=False)]
print("\nEmployees with 'Manager' in JobTitle:\n", managers)

Employees with 'Manager' in JobTitle:
             Id          EmployeeName  \
0            1        NATHANIEL FORD
83          84        EDWARD REISKIN
87          88           KEVIN BARRY
95          96          MIVIC HIROSE
162        163         JULIE LABONTE
...        ...                   ...
147216  147217  Steven D Koneffklatt
147502  147503    Alice B Villagomez
147805  147806    Stephen C Laplante
148150  148151      Shirley M Parker
148475  148476         James P Horan

                                              JobTitle    BasePay  \
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18
83      GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  230827.12
87                                         MANAGER VII   96814.36
95                                        MANAGER VIII  215180.76
162                                       MANAGER VIII  207501.20
...                                                ...        ...
147216                                     Manager III       0.00
147502                                      Manager IV    1660.00
147805                                      Manager II       0.00
148150                           Real Property Manager       0.00
148475                                      Manager IV     175.75

        OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  Year  \
0               0.0  400184.25       NaN  567595.43         567595.43  2011
83              0.0       0.00       NaN  230827.12         230827.12  2011
87              0.0  133563.47       NaN  230377.83         230377.83  2011
95              0.0   12000.00       NaN  227180.76         227180.76  2011
162             0.0    2903.37       NaN  210404.57         210404.57  2011
...             ...        ...       ...        ...               ...   ...
147216          0.0    1890.72    342.03    1890.72           2232.75  2014
147502          0.0       0.00     16.60    1660.00           1676.60  2014
147805          0.0     982.62    177.76     982.62           1160.38  2014
148150          0.0     647.76      0.00     647.76            647.76  2014
148475          0.0       0.00      1.41     175.75            177.16  2014

        Notes         Agency Status
0         NaN  San Francisco    NaN
83        NaN  San Francisco    NaN
87        NaN  San Francisco    NaN
95        NaN  San Francisco    NaN
162       NaN  San Francisco    NaN
...       ...            ...    ...
147216    NaN  San Francisco     PT
147502    NaN  San Francisco     PT
147805    NaN  San Francisco     PT
148150    NaN  San Francisco     PT
148475    NaN  San Francisco     PT

[4110 rows x 13 columns]

Retrieve only the columns: EmployeeName, JobTitle, and TotalPay.

In [58]:
employee_info = df[['EmployeeName', 'JobTitle', 'TotalPay']]
print("\nEmployee Info (EmployeeName, JobTitle, TotalPay):\n", employee_info)

Employee Info (EmployeeName, JobTitle, TotalPay):
              EmployeeName                                        JobTitle  \
0          NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1            GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2          ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3       CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4         PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
...                   ...                                             ...
148649      Roy I Tillery                                       Custodian
148650       Not provided                                    Not provided
148651       Not provided                                    Not provided
148652       Not provided                                    Not provided
148653          Joe Lopez                      Counselor, Log Cabin Ranch

         TotalPay
0       567595.43
1       538909.28
2       335279.91
3       332343.61
4       326373.19
...           ...
148649       0.00
148650       0.00
148651       0.00
148652       0.00
148653    -618.13

[148654 rows x 3 columns]

Find count of employees who have zero OvertimePay.

In [59]:
zero_overtime = len(df[df['OvertimePay'] == 0])
print("\nCount of employees with zero OvertimePay:", zero_overtime)

Count of employees with zero OvertimePay: 77325

Calculate the TotalPay for each JobTitle where totalpay > 300000

In [60]:
high_totalpay = df[df['TotalPay'] > 30000].groupby('JobTitle')['TotalPay'].sum()
print("\nTotalPay for each JobTitle where TotalPay > 30,000:\n", high_totalpay)

TotalPay for each JobTitle where TotalPay > 30,000:
 JobTitle
ACCOUNT CLERK                                     3496656.00
ACCOUNTANT                                         235997.94
ACCOUNTANT INTERN                                 1139296.32
ACPO,JuvP, Juv Prob (SFERS)                         62290.78
ACUPUNCTURIST                                       67594.40
                                                     ...
X-RAY LABORATORY AIDE                             1286178.72
X-Ray Laboratory Aide                             4472037.74
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS      53632.87
Youth Comm Advisor                                 146444.52
ZOO CURATOR                                         66686.56
Name: TotalPay, Length: 2091, dtype: float64

Find the top 5 JobTitles with the highest average TotalPayBenefits show in descending order

In [61]:
top_5_jobtitles = df.groupby('JobTitle')[['TotalPay', 'Benefits']].mean().sort_values(by='TotalPay', ascending=False).head(5)
print("\nTop 5 JobTitles with highest average TotalPayBenefits:\n", top_5_jobtitles)

Top 5 JobTitles with highest average TotalPayBenefits:
                                                      TotalPay      Benefits
JobTitle
GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  399211.275000           NaN
Chief Investment Officer                        339653.700000  96570.660000
Chief of Police                                 329183.646667  82548.620000
Chief, Fire Department                          325971.683333  82893.643333
DEPUTY DIRECTOR OF INVESTMENTS                  307899.460000           NaN

Replace all missing Benefits values with 0

In [62]:
df['Benefits'] = df['Benefits'].fillna(0)
print("\nMissing Benefits replaced with 0")

Missing Benefits replaced with 0

Identify the top employee name by TotalPay in each Year. Show year, employeename and totalpay dataframe

In [63]:
top_employee = df.groupby('Year')['TotalPay'].idxmax()
top_employee_info = df.loc[top_employee][['Year', 'EmployeeName', 'TotalPay']]
print("\nTop employee by TotalPay in each Year:\n", top_employee_info)

Top employee by TotalPay in each Year:
         Year    EmployeeName   TotalPay
0       2011  NATHANIEL FORD  567595.43
36159   2012  Gary Altenberg  362844.66
72927   2013     Samson  Lai  347102.32
110531  2014     David Shinn  471952.64

Find the number of employees per JobTitle.

In [64]:
employee_count_by_title = df['JobTitle'].value_counts()
print("\nNumber of employees per JobTitle:\n", employee_count_by_title)

Number of employees per JobTitle:
 JobTitle
Transit Operator                      7036
Special Nurse                         4389
Registered Nurse                      3736
Public Svc Aide-Public Works          2518
Police Officer 3                      2421
                                      ...
Light Rail Vehicle Equip Eng             1
Civil Case Settlmnt Specialist           1
ADMINISTRATOR, SFGH MEDICAL CENTER       1
CHIEF OF POLICE                          1
Special Assistant 8                      1
Name: count, Length: 2159, dtype: int64